.InfoBoard_box {
	height: 95%;
	// background-color: yellow;

	.white_section {
		width: 100%;
		height: 25px;
	}
}

h2 {
	padding: 14px;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}
